<div class="m-3 w-50 justify-content-center row d-flex">
    <div class="col-12 text-center">
        <h1>
          {{ title }}
        </h1>
      </div>
      
      <div class="col-12 justify-content-center">
        <textarea type="text" rows="15" class="form-control" placeholder="Put note here" [(ngModel)]="currentNote"></textarea>
        <button class="btn btn-primary mr-2 mt-2" (click)="savePaste()">Save</button>
        <button class="btn btn-primary mt-2" (click)="clearPaste()">Clear</button>
      </div>

      <div *ngIf="response" class="col-12 justify-content-center">
        <h3>Response:</h3>
        <p>{{response}}</p>
      </div>
</div>

